@use "../setting/setting";
@use "../setting/mixin";

.c-pageHeading{
  z-index: 1;
  
  h2{
    font-size: 24px;
    text-align: center;
  }

  span{
    color: setting.$color-main;
  }
}


.c-pageHeading__text{
  margin-top: 8px;
  @include mixin.p-size;
}

@media (min-width: 1024px){
  .c-pageHeading{
    h2{
      font-size: 32px;
    }
  }
}

@media (min-width: 1024px){
  
  .c-pageHeading__left{
    h2{
      text-align: left;
    }
    
  }
}