@use "../setting/setting";
@use "../setting/mixin";

.c-section{
  padding: 40px 0;
}




.c-section__heading{
  text-align: center;

  span{
    @include mixin.top-heading-span;
    
    &::before {
      @include mixin.span-line;
    }
  }

  h2{
    @include mixin.top-heading-h2;
  }
}

@media (min-width: 1024px){
  .c-section{
    padding: 64px 0;
  }

  .c-section + .c-section{
    padding-top: 40px;
  }

  .c-section__xl{
    padding: 88px 0;
  }
}