@use "../setting/setting";
@use "../setting/mixin";

.p-csr{
  max-width: 800px;
  margin: 24px auto 0;

  p{
    margin-top: 16px;
    line-height: 2;
    @include mixin.p-size;
  }
}

.p-csr__action{
  background: setting.$color-sub;
  padding:16px;
  border-radius: 10px;
  margin-top: 16px;

  h3{
    font-size: 16px;
  }

  ol{
    margin-top: 8px;
    counter-reset: number;
  }

  li{
    font-size: 14px;
    margin-bottom: 8px;
    position: relative;
    padding-left: 24px;

    &::before {
      display: block;
    position: absolute;
    left: 0;
    font-weight: bold;
    counter-increment: number;
    content: counter(number) ".";
    }
  }
}

.p-csr__button{
  margin-top: 24px;
}

@media (min-width: 1024px){
  .p-csr__action{
    margin-top: 24px;
    padding: 28px 40px;

    h3{
      font-size: 18px;
    }

    li{
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .p-csr__button{
    .c-button{
    margin: 40px auto 0;

    }
    
  }
}