@use "../setting/setting";
@use "../setting/mixin";

.p-topAbout{
  padding: 40px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 72%;
    top: 0;
    right: 0;
    background: #F4FBFE;
    z-index: -1;
    border-radius: 10px;
  }
}

.p-topAbout__heading{
  span{
    @include mixin.top-heading-span;
    
    &::before {
      @include mixin.span-line;
    }
  }

  h2{
    @include mixin.top-heading-h2;
  }
}

.p-topAbout__texts{
  position: relative;
  padding: 16px 0;

  p{
    @include mixin.p-size;
    margin-top: 8px;
  }

}

.p-topAbout__button{
  margin-top: 40px;
}

.p-topAbout__nav{
  background: #fff;
  box-shadow: 20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}

.p-topAbout__list{
  padding: 16px;
  border-top: 1px solid #eee;
  position: relative;
  transition: 0.4s;

  a{
    font-weight: bold;
    @include mixin.p-size;
  }

  span{
    font-size: 14px;
    color: setting.$color-main;
    font-family: setting.$font-english;
    letter-spacing: 1px;
    font-weight: normal;
    margin-left: 16px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 48%;
    right: 20px;
    transform: translateY(-52%);
    background: url('../images/top/top-arrow-blue.png') no-repeat center center/contain;
    height: 20px;
    width: 20px;
  }

  &:hover{
    opacity: .6;
  }
}

.p-topAbout__list:first-child{
  border-top: none;
}
/*================================
	PC
=================================*/

@media (min-width: 1024px){
  .p-topAbout{
    padding: 120px 0;
    margin-top: 40px;
  }

    .p-topAbout__wrapper{
        display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "p-topAbout__header p-topAbout__nav"
        "p-topAbout__button p-topAbout__nav";
    gap: 0 40px;
  }

  .p-topAbout__header{
    grid-area: p-topAbout__header;
    padding-right: 24px;
  }

  .p-topAbout__button{
    grid-area: p-topAbout__button;
  }

  .p-topAbout__nav{
    grid-area: p-topAbout__nav;
    margin-top: 0;
  }

  .p-topAbout__list{
    padding: 36px;

    &:before{
      width: 40px;
      height: 40px;
      right: 40px;
    }
  }

  .p-topAbout__button{
    margin-top: 44px;
  }
}